

.App{
  display: grid;
  align-self: center;
  min-height: 100vh;



}

.box{
  background-color: rgb(251, 255, 251);
  padding: 1rem;
}

h1{
  text-align: center;
  color: rgb(80, 72, 72);
}

@media  (min-width: 800px) {
.App{
  grid-template-columns: minmax(200px, 400px );
  justify-content: center;
}
}